// Style for the footer
footer {
  font-family: "Roboto";
  background-color: black;
  position: fixed;
  bottom: 0;
  width: 100%;
  color: white;
  height: 25px;
  // Name on left side
  p {
    float: left;
    overflow: auto;
    margin: 4px;
    margin-left: 5px;
  }
  // Social media links on right side
  div {
    float: right;
    padding: 2px;
    a {
      padding: 0 3px;
    }
  }
}
