$background: #162447;
$hover: #1f4068;
$text: white;

// Styling navbar
nav {
  background-color: $background;
  height: 44px;
  font-family: "Oswald", sans-serif;
  position: fixed;
  top: 0;
  width: 100%;
  // This button is not used; there for future use when I can use javascript
  // and create a dropdown menu with it
  button {
    display: none;
    padding: 10px;
    font-size: 16px;
    background-color: $background;
    color: $text;
    border: none;
    font-family: "Oswald", sans-serif;
    float: right;
  }
  a {
    color: white;
    text-decoration: none;
  }
  // The 'Daniel Hinton' heading
  h2 {
    float: left;
    overflow: auto;
    margin: 3px;
    margin-left: 10px;
  }
  // The navbar links
  ul {
    list-style: none;
    li a {
      display: inline;
      float: right;
      padding: 10px;
    }
    li a:hover {
      background-color: $hover;
    }
  }
}

// Mobile media query
@media only screen and (max-width: 500px) {
  nav {
    height: 89px;
    display: grid;
    grid-template-columns: 100%;
    grid-template-rows: 50% 50%;
    text-align: center;
    h2 {
      grid-row: 1/2;
    }
    ul {
      grid-row: 2/3;
      display: flex;
      justify-content: center;
      flex-direction: row-reverse;
    }
  }
}
