// Styling the iframe the resume PDF is shown in
#resume {
  display: flex;
  justify-content: center;
  margin-bottom: 100px;
  iframe {
    width: 80%;
    margin: 30px;
    max-width: 850px;
    height: 1000px;
  }
}

// Styling the heading above to download a PDF of the resume
#download-resume {
  text-align: center;
  color: white;
  font-family: "Roboto";
  a {
    text-decoration: none;
    color: lightblue;
  }
  a:hover {
    text-decoration: underline;
  }
}

// Mobile media query
@media (max-width: 500px) {
  #resume {
    iframe {
      display: none;
    }
  }
}
