@import "partials/nav-bar";
@import "partials/footer";
@import "partials/home-page";
@import "partials/resume";
@import "partials/contact";
@import "partials/about";
@import "partials/projects";
@import "partials/blog";
@import "partials/blog-articles";

// CSS Reset
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

// Background color for all pages
html {
  background-color: #141422;
}

// The main header on each page except the homepage
h1 {
  color: white;
  font-family: "Roboto";
  font-size: 80px;
  margin-left: 100px;
  margin-top: 80px;
}

// Class to center objects
.centered {
  display: flex;
  justify-content: center;
}

// Reducing the main header size and alignment on mobile
@media (max-width: 500px) {
  h1 {
    font-size: 50px;
    text-align: center;
    margin: 100px 0 10px 0;
    padding: 0;
  }
}
