$font: "Roboto";
$text-color: white;
$link-color: lightblue;

#profile-photo {
  width: 75%;
  text-align: center;
  margin-top: 15px;
}

#about-details {
  width: 75%;
  margin-bottom: 100px;
  margin-top: 30px;
  p {
    color: $text-color;
    font-family: $font;
    font-size: 20px;
    a {
      color: $link-color;
    }
  }
}
