#contact {
  height: 505px;
  width: 700px;
  background-color: white;
  margin: 20px 0 60px 0;
  font-family: "Roboto";
  padding: 15px 0 0 20px;
  font-size: 20px;
  p {
    margin-bottom: 10px;
  }
  h2 {
    text-align: center;
    margin-bottom: 10px;
  }
  #contact-form {
    text-align: center;
    input:focus,
    textarea:focus {
      outline: none;
    }
    .input {
      input {
        width: 300px;
        font-size: 16px;
        margin: 8px;
        padding: 3px;
      }
      select {
        width: 300px;
        font-size: 14px;
        margin: 10px 0;
      }
    }
    #message {
      textarea {
        margin-top: 6px;
        width: 300px;
        font-size: 16px;
        padding: 3px;
      }
    }
    #submit-button {
      button {
        font-size: 16px;
        padding: 5px;
        margin-top: 10px;
      }
    }
  }
}
