$text-color: white;
$button-color: black;
$button-hover: rgb(112, 112, 112);
$font: "Roboto";

#homepage {
  font-family: $font;
  text-align: center;
  background-image: url(../../images/background.jpg);
  background-size: cover;
  height: 500px;
  color: $text-color;
  h2 {
    padding: 20px;
    padding-top: 150px;
    font-size: 50px;
  }
  h3 {
    margin-bottom: 40px;
    font-size: 25px;
  }
  a {
    text-decoration: none;
    color: $text-color;
    background-color: $button-color;
    margin: 10px;
    padding: 10px;
    border-radius: 5px;
  }
  a:hover {
    background-color: $button-hover;
  }
}

#skill-logos {
  font-family: $font;
  color: $text-color;
  /* Permalink - use to edit and share this gradient: https://colorzilla.com/gradient-editor/#b5bdc8+0,28343b+100 */
  background: #b5bdc8; /* Old browsers */
  background: -moz-linear-gradient(
    top,
    #b5bdc8 0%,
    #28343b 100%
  ); /* FF3.6-15 */
  background: -webkit-linear-gradient(
    top,
    #b5bdc8 0%,
    #28343b 100%
  ); /* Chrome10-25,Safari5.1-6 */
  background: linear-gradient(
    to bottom,
    #b5bdc8 0%,
    #28343b 100%
  ); /* W3C, IE10+, FF16+, Chrome26+, Opera12+, Safari7+ */
  filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#b5bdc8', endColorstr='#28343b',GradientType=0 ); /* IE6-9 */
  text-align: center;
  padding: 15px;
  padding-bottom: 30px;
  h3 {
    font-size: 32px;
    margin-bottom: 15px;
  }
  #code-logos {
    display: flex;
    justify-content: space-evenly;
  }
  #code-titles {
    display: flex;
    justify-content: space-evenly;
    padding: 10px;
    h4 {
      margin: 0 38px;
    }
  }
}

#home-contact {
  color: white;
  height: 250px;
  width: 100%;
  font-family: $font;
  /* Permalink - use to edit and share this gradient: https://colorzilla.com/gradient-editor/#ffb76b+0,ff7c00+20,ff7c00+20,ff7c00+49,ffa73d+73,ff7f04+100 */
  background: #ffb76b; /* Old browsers */
  background: -moz-linear-gradient(
    left,
    #ffb76b 0%,
    #ff7c00 20%,
    #ff7c00 20%,
    #ff7c00 49%,
    #ffa73d 73%,
    #ff7f04 100%
  ); /* FF3.6-15 */
  background: -webkit-linear-gradient(
    left,
    #ffb76b 0%,
    #ff7c00 20%,
    #ff7c00 20%,
    #ff7c00 49%,
    #ffa73d 73%,
    #ff7f04 100%
  ); /* Chrome10-25,Safari5.1-6 */
  background: linear-gradient(
    to right,
    #ffb76b 0%,
    #ff7c00 20%,
    #ff7c00 20%,
    #ff7c00 49%,
    #ffa73d 73%,
    #ff7f04 100%
  ); /* W3C, IE10+, FF16+, Chrome26+, Opera12+, Safari7+ */
  filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#ffb76b', endColorstr='#ff7f04',GradientType=1 ); /* IE6-9 */
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  float: right;
  padding: 10px;
  h2 {
    font-size: 40px;
    margin: 0 10px 10px 10px;
    text-align: center;
  }
  a {
    text-decoration: none;
    color: black;
    font-size: 40px;
    margin: 10px 10px 20px 10px;
    color: white;
  }
  a:hover {
    text-decoration: underline;
  }
}
