@import "partials/nav-bar";
@import "partials/footer";
@import "partials/home-page";
@import "partials/resume";
@import "partials/contact"; // Sample color palettes:
// A:
// #162447 (NAVY)
// #1F4068 (BLUE)
// ##0c0c14 (BLACK)
// #E43F5A (RED)
// B:
// #1B262C (BLACK)
// #0F4C75 (NAVY)
// #3282B8 (BLUE)
// #BBE1FA (LIGHT BLUE)
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

html {
  background-color: #141422;
}

h1 {
  color: white;
  font-family: "Roboto";
  font-size: 80px;
  margin-left: 100px;
  margin-top: 80px;
}

.centered {
  display: flex;
  justify-content: center;
}
