@import "partials/nav-bar";
@import "partials/footer";

// Sample color palettes:

// A:
// #162447 (NAVY)
// #1F4068 (BLUE)
// #1B1B2F (BLACK)
// #E43F5A (RED)

// B:
// #1B262C (BLACK)
// #0F4C75 (NAVY)
// #3282B8 (BLUE)
// #BBE1FA (LIGHT BLUE)

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}